@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  border: none;
  outline: none;
}

*:hover {
  cursor: default;
}

html {
  height: 100%;
}

body {
  /* Flexbox 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10px;
  position: relative;
  background-color: aliceblue;
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 버튼 스타일 */
button:hover {
  cursor: pointer;
}

/* 헤더 스타일 */
header {
  /* Flexbox 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px 15px 15px;
  width: 100%;
  background: #ffffff;
  position: fixed;
  border-bottom: 2px solid black;
  z-index: 1000; /* 헤더가 다른 요소 위에 보이도록 설정 */
}

header h1,
header p {
  margin: 0;
}

#nav {
  /* Flexbox 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

#nav p {
  /* Flexbox 레이아웃 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: #000000;
  border-radius: 5px;
}

#nav p:hover {
  background-color: #e6e6e6;
}

/* 장바구니 상세 페이지 스타일 */
#cart_detail {
  /* Flexbox 레이아웃 */
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 74px; /* 헤더와 겹치지 않도록 여백 추가 */
  width: 100%;
}

.cart-item {
  /* Flexbox 레이아웃 */
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.product-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

#product {
  /* Flexbox 레이아웃 */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  gap: 20px;
}

.product_title {
  font-size: 25px;
  color: #000000;
  margin-bottom: 5px;
}

.product_price {
  font-size: 20px;
  color: #555555;
}

input[type="button"] {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 5px;
}

input[type="button"]:hover {
  background-color: #0056b3;
}

.cart-delete {
  background-color: #dc3545;
}

.cart-delete:hover {
  background-color: #c82333;
}

#total_price {
  font-size: 25px;
  text-align: right;
  color: #333333;
  margin-top: 20px;
}

#button {
  text-align: center;
  margin: 10px;
}

button {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2em;
}

#pay_button {
  background-color: #006aff;
}

#pay_button:hover {
  background-color: #0057d0;
}

button:hover {
  background-color: #218838;
}

/* 체크박스 스타일 */
.select-product {
  margin-right: 10px;
}
